body {
    font-family: Arial, sans-serif;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    border: 2px solid black;
  }

  .api-body {
    margin: 2rem 0;
    font-size: 1.5rem;
  }

  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
  }

  button:hover {
    background-color: #3e8e41;
  }